<p id="notice"><%= notice %></p>

<%= link_to '新しく投稿を作成する', new_blog_path ,class:"create-btn"%>

<h1>投稿一覧</h1>

  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-md-offset-3 col-md-6 col-md-offset-3 post-area"><%= image_tag blog.image.url,size: "200x200",class:"image-area" %>
      </div>
      <div class="col-md-offset-3 col-md-6 col-md-offset-3  post-area"><%= "content:"%><%= blog.content %>
      </div>
      <div class="col-md-offset-3 col-md-6 col-md-offset-3 post-area"><%= "user name:"%><%= blog.user.name %>
      </div>
      <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <td><%= link_to '詳細', blog,class:"btn"%></td>
        <td><%= link_to '編集', edit_blog_path(blog),class:"btn" %></td>
        <td><%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' },class:"btn" %></td>
      </div>
    <% end %>
  </div>

<br>
