<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <header><img src="/assets/Facebook Clone.png" class="logo_image">
      <% if logged_in? %>
        <%= link_to "マイページ", user_path(current_user.id) ,class:"header"%>
        <%= link_to "投稿一覧", blogs_path ,class:"header"%>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete,class:"header" %>
      <% else %>
        <%= link_to "アカウント作成", new_user_path,class:"header" %>
        <%= link_to "ログイン", new_session_path,class:"header" %>
      <% end %>
    </header>
    <%= yield %>
    <footer> @ facebook clone inc. </footer>
  </body>
</html>
